/* The following block can be included in a custom.scss */

/* make the customizations */
// $theme-colors: (
//   'info': tomato,
//   'danger': teal,
// );
$custom-grey: #eeeeee;
$custom-grey-hover: #d3d3d3; // Define a greyer color for hover state

.bg-grey {
  background-color: $custom-grey;
}

.badge.bg-grey:hover {
  background-color: $custom-grey-hover;
}

/* import bootstrap to set changes */
@import '../node_modules/bootstrap/scss/bootstrap.scss';